@font-face {
  font-family: SamsungOneUI200;
  src: url(/resources/fonts/SamsungOneUI/SamsungOneUI-200.ttf);
}

@font-face {
  font-family: SamsungOneUI300;
  src: url(/resources/fonts/SamsungOneUI/SamsungOneUI-300.ttf);
}

@font-face {
  font-family: SamsungOneUI400;
  src: url(/resources/fonts/SamsungOneUI/SamsungOneUI-400.ttf);
}

@font-face {
  font-family: SamsungOneUI500;
  src: url(/resources/fonts/SamsungOneUI/SamsungOneUI-500.ttf);
}

@font-face {
  font-family: SamsungOneUI600;
  src: url(/resources/fonts/SamsungOneUI/SamsungOneUI-600.ttf);
}

@font-face {
  font-family: SamsungOneUI700;
  src: url(/resources/fonts/SamsungOneUI/SamsungOneUI-700.ttf);
}

@font-face {
  font-family: SamsungOneUI800;
  src: url(/resources/fonts/SamsungOneUI/SamsungOneUI-800.ttf);
}
